/* reset */
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
/* layout */

ol, ul {
	list-style: none;
}

/* navbar */
#navbar .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* position: relative; */
   margin-top: 0;
   margin-left: 0;
   padding: 0.5rem;
   background-color: #0F1111;
   width: 100%;
   font-size: 14px;
   z-index: 5;
   height: 60px;
   min-width: 1000px;
   
}
#navbar .container .nav-left{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    justify-content: start;
}
   
#navbar .nav-left .logo{
    position: relative;
    float: none;
    flex-shrink: 0;
    text-decoration: none;
    padding: 1px 8px 0 6px;
    margin: 1px;
}
#navbar .logo a{
background: url('../assets/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png') no-repeat -20px -180px;
width: 152px;
 height: 46px;
 display: flex; 
}
#navbar .nav-left .logo:hover{
    border: 1px solid #fff;
}
#navbar .logo2{
    display: flex;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer; 
    height:60px;
    width: 90.64px;
    align-items: center;
    justify-content: center;
}

#navbar .logo2 p{
    color: rgb(186, 185, 185);
}
#navbar .logo2 p span{
    color: #fff;
}
#navbar .logo2 i{
    margin-top: 8px;
    color: #fff;
    padding: 0px 0px 3px 0px;
}
#navbar .nav-left .logo2:hover{
    border: 1px solid #fff;
}
/* nav-center */
#navbar .nav-center{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    display: flex; 
    padding: 0.5rem;
    border: none;
    border-radius: 5%;
    width: 600px;
    max-width: 800px;
    height: 40px;
    padding: 10px 4px 10px 3px;
}
#navbar .nav-center i{
    background-color:#FF9900 ;
}
#navbar .nav-center .search{
    height: 21px;
    width: 100%;
    display: flex;
    float: none;
    line-height: 15px;
}
#navbar .nav-center .glass{
    background: url('../assets/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -290px;
	background-size: 350px 450px;
	width: 30px;
	height: 21px;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    background-color: #FF9900 ;
}

/* nav-right */
#navbar .nav-right{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    justify-content: space-between;
}
#navbar .nav-right a{
    height: 100%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    float: none;
    padding: 4px;
 
}
#navbar .nav-right a .cart{
    background: url('../assets/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -340px;
    background-size: 350px 450px;
    width: 38px;
    height: 26px;
    padding: 0px 9px 11 9px;
    margin-right: 11px;
}
#navbar .nav-right .cart:hover{
    border: 1px solid #fff;
}
#navbar .nav-right .sign-in{
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 40px;
}
#navbar .nav-right .returns{
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 40px;
}

#navbar.nav-right.en{
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 40px;
}

#navbar .nav-right .en .flag{
    background: url('../assets/images/flag.png') no-repeat;
}
#navbar.nav-right.en:hover{
    border: 1px solid #fff;
}



       /*    Nav row  */
.nav-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    float: none;
    padding: 0 0 0 11px;
    margin: 0;
    background-color: #232f3e;
    height: 38px;
    width: 100%;
}
.nav-row a{
    color: #fff;
    text-decoration: none;
    padding: 0 4px 0 4px;
    margin: 0 2px 0 2px;
}
.nav-row a:hover{
    border: 1px solid #fff;
}

#nav-row.nav-left{
    justify-content: flex-start;
    position: relative;
    border:  solid 2px rgb(0, 0, 0);
}
.nav-row.nav-left.hamburger{
    padding: 0 4px 0 4px;
    margin: 0 2px 0 2px;
}

/* mine body */
.containerBox{
    display: flex;
    align-items: center;
    margin-top: 15vh; 
    display: grid;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;    
}
.containerBox .img-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60vh;
    width: 60vh;
    margin: 0 auto;
    display: grid;
    grid-area: 1 / 1 / 4 / 4; 
    
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        


    }
    .containerBox.img-box.box1{
        grid-area: 6 / 2 / 7 / 3; 
    }
    .containerBox.img-box.box2{
        grid-area: 6 / 3 / 7 / 4;
    }
    .containerBox.img-box.box3{
        grid-area: 6 / 4 / 7 / 5;
    }
    .containerBox.img-box.box4{
        grid-area: 6 / 5 / 7 / 6;
    }
    .containerBox.img-box.box5{
        grid-area: 6 / 6 / 7 / 7;
    }
    .containerBox.img-box.box6{
        grid-area: 6 / 7 / 7 / 8;
    }
.containerBox .img-box.mine-box{
    border: 1px solid black;
    height: 50vh;
    width: 50vh;
    margin:  auto;
    grid-area: 1 / 1 / 6 / 8;
}
.containerBox .img-box.img-block{
    display: block;
    height: 10vh;
    width: 60vh;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
/* adjusting */
img{
    width: 100%;
    height: 100%;
    height: 40px;
    width: 40px;
}
span{
    font-size: 25px;
}
h3{
    color: green;
}
.containerBox.butt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBox.butt.bgt1{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #c4a625;
    color: #333;
}
.containerBox.butt.bgt2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9900;
    color: #333;
    }
.containerBox .item-box{
    background: url('../assets/McBZv0ZvnbehkIx.png') no-repeat -175px -369px;
	width: 79px;
	height: 15px;
    display: grid;
    grid-area: 1 / 4 / 6 / 6; 
}
.details-box{
    display: grid;
    grid-area: 1 / 6 / 6 / 7;
}
    